<script src="https://code.jquery.com/jquery-3.0.0.min.js" charset="utf-8"></script>
<script>
var geocoder;
var map;
var icon;
function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-27, -48);
    var mapOptions = {
        zoom: 10,
        center: latlng
    }
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    // codeAddress("R. Santa Luzia, 100 - Trindade,Florianópolis - SC,88036-540");
}

function codeAddress(obj, cb) {
    geocoder.geocode( { 'address': obj.address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var infowindow
            if(obj.label != ""){
                infowindow = new google.maps.InfoWindow({
                    content: obj.label
                });
            }

            var marker;
            if(icon){
                console.log("icon");
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    icon: icon
                });
            }
            else{
                console.log("not icon");
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            }

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });

            obj.location = results[0].geometry.location;
            map.panTo(results[0].geometry.location);

            if(cb){cb();}
        } else {
            alert("Geocode was not successful for the following reason: " + status);
        }
    });
}

function getobj(){
    var obj = safelyParseJSON($("#address").val());
    if(obj){
        if(obj.icon){icon = obj.icon;}
        console.log(obj.icon);

        $("#address").val(JSON.stringify(obj, null, 4));
        if(obj.addresses){
            for(var i = 0; i < obj.addresses.length; i++){

                if(i === obj.addresses.length - 1){
                    codeAddress(obj.addresses[i], function(){
                        $("#address").val(JSON.stringify(obj, null, 4));
                    });
                }
                else{
                    codeAddress(obj.addresses[i]);
                    var t = Math.random() * 2000;
                    sleep(t);
                }
            }
        }
        else{
            alert("JSON inválido, atributo addresses faltando.");
        }
    }
}

function safelyParseJSON (json) {
    var parsed;
    try {
        parsed = JSON.parse(json);
    } catch (e) {
        alert("JSON inválido.");
        console.log(e);
    }
    return parsed;
}

function sleep(milliseconds) {
    var start = new Date().getTime();
    for (var i = 0; i < 1e7; i++) {
        if ((new Date().getTime() - start) > milliseconds){
            break;
        }
    }
}

$(document).ready(function(){
    var obj = JSON.parse($("#address").val());
    $("#address").val(JSON.stringify(obj, null, 4));
});
</script>
<body>
    <div id="map" style="width: 100%; height: 35%;"></div>
    <div>
        <textarea id="address" style="width: 100%; height: 60%; border: 0px;">{    "icon": "http://staluzia.localhost.dev/wp-content/themes/sta-luzia-2016/assets/img/map_pin.png","addresses": [        {            "address": "Rua Dom Joaquim, 660, Centro, Florianópolis", "label": "Matriz"        }    ]}</textarea>
        <input type="button" value="Encode" onclick="getobj()" style="width: 100%; height: 5%;">
    </div>
</body>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIhofPpc6m_vv3to2wpfCueQ2S7mzo6xQ&callback=initialize">
</script>
